.article-enter {
    opacity: 0.01;
}

.article-enter.article-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.article-leave {
    opacity: 1;
    max-height: 100%;
}

.article-leave.article-leave-active {
    opacity: 0.01;
    max-height: 0.01px;
    transition: opacity 300ms ease-in, max-height 300ms linear;
}